
  body{
    background-color: #F9DFDC;
  }
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    height:0px;
    width: 5%;
  }
  h1{
    color:#763857;
  }
  h3{
    color:#0D335D;
  }
